@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.header {
    background-color: rgb(19,20,21);

}
.container {
    margin: 0 auto;
    width: 1100px;
}
.header-container {
    padding: 40px 20px;
    position: relative;
    font-weight: bold;
}
.logo {
  position: absolute;
  top: 31px;
  left: 0;
}
.nav{
 position: absolute;
 top: 14px;
 left: 345px; 
 }
 .nav__list  li {
     display: inline-block;
     margin-right: 40px;
 }
 .nav__list  li:nth-child(3) {
    margin-right: 0px;
}
.nav a {
    text-decoration: none;
    color: rgb(255,255,255);
 }
.nav__link {
    list-style-type: none;
    background-repeat: no-repeat;
    padding-left: 25px;
}


.nav :hover {
    color: rgb(248,149,19);
}
.nav__link--afrodita{
    background-image: url(./img/main_icon.png);
 }
.nav__link--feed{
    background-image: url(./img/feed_icon.png);
    }
.nav__link--service{
    background-image: url(./img/service_icon.png); 
    }
.nav__link--afrodita:hover{
       background-image: url(./img/main_icon2.png);
     }
.nav__link--feed:hover{
        background-image: url(./img/feed_icon_copy.png)
        }
.nav__link--service:hover{
        background-image: url(./img/1.png); 
    }
.contacts {
    position: absolute;
    top: 22px;
    right: 0;
    text-align: right;
    font-weight: bold;  
}
.contacts__cellphone {
    color: rgb(255,255,255);
    width: 170;
    height: 18;
    font-size: 21px;
    text-decoration: none;
}
.contacts__work-time {
    display: block;
    color:  rgb(248,149,19); 
    width: 114px;
    height: 14px; 
    font-size: 14px;
}
.contacts__work-time:hover{
    color: rgb(255,255,255); 
}
.pic {
  text-align:center;
}

.features {
    background-color: rgb(19,20,21);
    color: white;
}
.features-container {
    padding-top: 66px;
    padding-bottom: 66px;
}

.features__heading{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 49px;
    text-align: center;
    margin: 0px 0px 63px;
}
.features__table {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

 .features__table-item {
    display: inline-block;
    vertical-align:top;  
    margin-right: 75px;  
 }

 .features__table-item:nth-child(3){
     margin-right: 0px;
 }
.features__block {
    display: block;
    width: 72px;
    height: 72px;
    background-color: rgb(248,149,19);
    border-radius: 50%;
    position: relative;
    margin: 0 auto 40px;
} 
.features__image {
   position: absolute;
   top: 50%;
   left:50%; 
   transform: translate(-50%,-50%); 
}
.features__name{
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.features__description {
    display: block;
    width: 197px;
    height: 152px;
    letter-spacing: 2px;
    font-size: 12px;
}
.features__description p{
    line-height: 2em;
}

.feautures__list ul{
  list-style-type: disc;
}

.features__item{
  text-align: left !important;
  margin-bottom: 10px;
}

.features__item:nth-child(3){
    margin-bottom: 0px;
}

.last-news-container {
    position: relative; 
    padding-top: 69px;
    margin-bottom: 69px; 
}

.last-news__heading{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 49px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 70px;
    padding: 0px;
}  
.last-news__table {
    font-size: 0px;
    margin:0px;
    margin-bottom: 77px;
    padding: 0px;
}

.last-news__item {
    width: 800px;
    height: 166px;
    margin: 0px;
    padding: 30px 0px;
    position: relative;
    border-bottom: solid rgb(208,208,208) 1px;
}
.last-news__avatar{
    width: 160px;
    height: 160px;
    border-radius: 50%;   
}
.last-news__comment{
    height: 166px;
    width: 600px;
    font-size: 16px;
    position: absolute;
    top: 30px;
    right: 0px;
} 


.pagination{
    margin-right: 0px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}   

.pagination__display{
    display: inline-block;
    margin: 0px;
    margin-right: 7px;
}

.pagination__pager {
    margin: 0px;
    display: inline-block;
    letter-spacing: 7px;   
}

.pagination__list {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.pagination__item {
    display: inline-block;
    font-weight: bold;
}
.pagination a {
    text-decoration: none;
    color: black;
}

.pagination a:hover{
    color: rgb(248,149,19);
}
.pagination__item-active {
    /* display: block; */
    background-color: black;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 20%;
    padding:0px;
    position: relative;
    vertical-align: middle;
}
.pagination__link-active {
    color: white !important;
    position: absolute;
    top: 45%;
    left:65%; 
    transform: translate(-50%,-50%); 
}








.top-news {
    position: absolute;
    right: 20px;
    top: 184px;
    margin: 0px;
    padding: 0px; 
}
.top-news__table {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.top-news__item{
    width: 160px;
    height: 100%;
    margin-bottom: 20px;
}
.top-news__item:nth-child(3){
    margin-bottom: 0px;
}

.top-news__heading{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.top-news__heading-grey {
    color: grey;
}
.footer {
    background-color: rgb(19,20,21);
    color: white; 
}
.footer-container {
    height: 77px;
    position: relative;
}
.developer {
    display: block;
    width:239px;
    height:50px;
    font-size: 14px;
    font-display: none; 
    position: absolute;
    left: 0;
    top: 14px;
}
.developer a {
    color: white;
}
.logofooter {
    position: absolute;
    top: 29px;
    left: 470px;
}
.social-networks{
 position: absolute;
 top: 15px;
 right: 0px;
}
.social-networks__heading{
 margin-bottom: 8px;
}
.social-networks__list{
margin: 0px;
padding: 0px;
}
.social-networks__item {
 display: inline-block;
 margin-right: 10px;
}
.social-networks__item:nth-child(5) {
    margin-right: 0px;
}
.social-networks__link {
display: block;
width: 20px;
height: 20px;
background-color: rgb(208,208,208);
border-radius: 50%;
position: relative;
}
.social-networks__pic{
position: absolute;
   top: 50%;
   left:50%; 
   transform: translate(-50%,-50%); 
}
.social-networks__link:hover { 
    background-color: rgb(248,149,19);
}

