.block {
    background: rgb(0, 0, 0);
    background-image: url(../../img/background.png);
    margin-bottom: 36px;
    height: 376px;
    width: 222px;
    font-size: 18px;
    color: rgb(255,255,255);
    text-align: center;
    padding: 30px 26px 24px;
    font-weight: lighter;

}

.block__text-active {
    color: rgb(248, 149, 19);
    font-weight: bold;
}