.breadcrumbs{
    margin-bottom:15px;
}


.breadcrumbs__list{
    padding: 0px;
    margin: 0px 0px;
    text-align: left;
    font-style: italic;
    font-weight: lighter;
    list-style: none;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
}

.breadcrumbs__link {
    text-decoration: none;
    color: black;
    cursor: default;
}

.breadcrumbs__link-active {
    text-decoration: underline;
    color: rgb(248, 149, 19);
    margin-right: 2px;
    text-decoration: none; 
}

.breadcrumbs__link-active:hover{
    text-decoration: underline;
    cursor: pointer; 
}

.breadcrumbs__item-active {
    margin-right: 4px;
}
