.contacts {
    text-align: right;
    font-weight: bold;
    font-style: normal;
}

.contacts__cellphone {
    color: rgb(255, 255, 255);
    font-size: 21px;
    text-decoration: none;
}

.contacts__work-time {
    display: block;
    color: rgb(248, 149, 19);
    font-size: 14px;
}

.contacts__work-time:hover {
    color: rgb(255, 255, 255);
}