.features {
    color: rgb(19, 20, 21);
    border: 1px solid rgb(19, 20, 21);
    padding: 20px 38px 37px;
}

.features__heading {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin: 0px 0px 23px;
}

.features__name {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-bottom: 13px;
    text-align: center;
}

.features__table {
    padding: 0px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    width: 195px;
    height: 152px;
    font-size: 18px;

}

.feautures__text {
    margin-top: 0px;
    margin-bottom:18px;
}

.features__list {
    margin: 0px 0px;
    padding-left: 15px;
}



.features__item {
    text-align: left;
    margin-bottom: 10px;

}

.features__item:nth-child(3) {
    margin-bottom: 0px;
}