.last-news__heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 49px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0px;
}

.last-news__table {
    margin: 0px;
    padding: 0px;
    margin-bottom: 45px;
}

.last-news__item {
    width: 822px;
    height: 166px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px;
    padding: 27px 0px;
    border-bottom: solid rgb(208, 208, 208) 1px;
}

.last-news__item:nth-child(1) {
    padding-top: 0px;
}

.last-news__avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.last-news__comment {
    margin: 0px 0px;
    height: 128px;
    width: 630px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.last-news__topic {
    margin: 0px 0px 10px;
}

.last-news__text {
    margin: 0px 0px;
}