.nav {
    position: absolute;
    top: 14px;
    left: 345px;
}

.nav__list li {
    display: inline-block;
    margin-right: 40px;
}

.nav__list li:nth-child(3) {
    margin-right: 0px;
}

.nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav__link {
    list-style-type: none;
    background-repeat: no-repeat;
    padding-left: 25px;
}


.nav :hover {
    color: rgb(248, 149, 19);
}

.nav__link--afrodita {
    background-image: url(../../img/main_icon.png);
}

.nav__link--feed {
    background-image: url(../../img/feed_icon.png);
}

.nav__link--service {
    background-image: url(../../img/service_icon.png);
}

.nav__link--afrodita:hover {
    background-image: url(../../img/main_icon2.png);
}

.nav__link--feed:hover {
    background-image: url(../../img/feed_icon_copy.png)
}

.nav__link--service:hover {
    background-image: url(../../img/1.png);
}