.first-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 20px;

}

.sidebar {
  padding-top: 40px;
  padding-bottom: 55px;

}

.second-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

}