.pagination {
    margin-right: 0px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pagination__display {
    margin: 0px;
    margin-right: 9px;  
}

.pagination__pager {
    margin: 0px;
    width: 215px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.pagination__item {
    list-style: none;
    font-weight: bold;
    margin-right: 17px;
   
}
 
.pagination__item:nth-child(7) {
    margin-right: 0px;
}



.pagination a {
    text-decoration: none;
    color: black;
    transition: 0.1s linear;  
}

.pagination a:hover {
    color: rgb(248, 149, 19);
}

.pagination__item-active {
    display: block;
    background-color: black;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 20%;
    padding: 0px;
    position: relative;
    vertical-align: middle;
    
}

.pagination__link-active {
    color: white !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}