.partners {
    margin-bottom: 23px;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 50px;
    padding-right: 61px;
    border: 1px solid black;
   
}  

.partners__heading {
    margin: 0px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 37px;
}

 .partners__table {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 656px;
}
 
.partners__logo {
    filter:grayscale(90%);
    transition: 0.5s linear;
}

.partners__logo:hover {
   filter:grayscale(1%);
}