.reviews {
    margin-bottom: 60px;
}

.reviews__heading {
    font-size: 49px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 37px;
    margin-top: 0px;
}
.reviews__table {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 47px;
    padding: 0px 0px;
}

.reviews__item {
    display: flex;
    height: 195px;
    width: 870px;
    justify-content: space-between;
    padding: 25px 0px;
    border-bottom: solid rgb(208, 208, 208) 1px;
}

.reviews__item:nth-child(1){
    padding-top: 0px;
}

.reviews__image-pic {
width: 174px;
height: 174px;
border-radius: 50%;
}

.reviews__description{
 width: 650px;
}