.social-networks__heading {
    margin-bottom: 8px;
    text-align: center;
}

.social-networks__list {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.social-networks__item {
    margin-right: 20px;
}

.social-networks__item:nth-child(5) {
    margin-right: 0px;
}