.wrapper__content {
    margin-bottom: 55px;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around; 
}

.nav {
    margin-bottom: 70px !important;
}
